

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class = "main">
    <p class="signin" align="center">Sign Up</p>
  <div class="field">

    <input class="username " type="text" align="center" placeholder="Email"<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">

    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <input class="password" type="text" align="center" placeholder="Password"<%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <input class="password" type="text" align="center" placeholder="Password"<%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" , class: "submit"%>
  </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
